<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDV</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="h-screen bg-green-500 flex flex-col relative">
        <div class="mx-5 mt-1">
            <div class=" bg-white h-50  max-w-200 p-5">
                <p id="product-information" class='text-black text-2xl font-bold h-5'></p>
            </div>
        </div>
        <div class="grid grid-cols-4 gap-0 mt-0">
            <p class="ml-5 text-black text-xl font-bold">Código</p>
            <p class="text-black text-xl font-bold">Quantidade</p>
            <p class="text-black text-xl font-bold">Preço R$</p>
            <p class="text-black text-xl font-bold">Total R$</p>
        </div>

        <div class=" grid grid-cols-4 gap-1 mt-2">

            <div class="ml-4 bg-white h-10 w-56">
                <input id="product-code" name="id" type="text" class='p-2 text-black' value="">
            </div>

            <div class=" bg-white h-10 w-40">
                <input id="product-quantity" type="text" class='p-2 text-black' value="">
            </div>


            <div class=" bg-white h-10 w-40 ">
                <p id="price-of-the-product" class='p-2 text-black'></p>
            </div>
            <div class=" bg-white h-10 w-40">
                <p id="product-total" class='p-2 text-black'></p>
            </div>
        </div>
        <div class="h-2/3 bg-green-500 flex justify-center ">
            <img src="img/amazon-fresh5225.jpg" alt="Descrição da imagem"
                class=" max-h-60 w-auto ml-52 mt-20 mr-auto  " />

        </div>
        <div class="h-1/4 bg-black"></div>
        <div class=" absolute bottom-3  right-5 w-2/5 h-3/4 bg-white z-10 " style="overflow-y: auto;">



            <div class=" w-full m-0 w-full m-0">
                <table id="table-vendas" class="w-full text-sm text-left rtl:text-right  overscroll-contain ">
                    <thead class="text-xs text-white uppercase bg-black ">
                        <tr>
                            <th scope="col" class="px-6 py-3">
                                Produto
                            </th>
                            <th scope="col" class="px-6 py-3"></th>
                            <th scope="col" class="px-6 py-3"></th>
                            <th scope="col" class="px-6 py-3"></th>
                            <th scope="col" class="px-6 py-3">Qt.</th>

                            <th scope="col" class="px-6 py-3">
                                Valor
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class=" border-b ">
                            <td scope="row" class="px-6 py-4">
                                <p id="descricaoVendaProduto" class="font-medium  whitespace-nowrap dark:text-black">
                                </p>
                            </td>
                            <td class="px-6 py-4"></td>
                            <td class="px-6 py-4"></td>
                            <td class="px-6 py-4"></td>
                            <td id="quantidadeVendaProduto" class="px-6 py-4"></td>
                            <td class="px-6 py-4">
                                <p id="valorVendaProduto" class="font-medium text-blue-600 dark:text-blue-500 "></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <footer class="absolute bottom-0 left-0 w-full p-4 bg-slate-950	 text-white">
                <div class="grid grid-cols-6 gap-4">
                    <div class="col-start-1 col-end-1">Subtotal: </div>
                    <div class="col-end-9 col-span-2 ">03</div>
                </div>
            </footer>

        </div>
    </div>
</body>
<script src="js/integracao-pdv.js"></script>

</html>