<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDV</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="h-screen bg-green-500 flex flex-col relative">
        <div class="mx-5 mt-1">
            <div class=" bg-white h-50  max-w-200 p-5">
                <p class='text-black font-bold h-5'>Macarrao Fortaleza</p>
            </div>
        </div>
        <div class="grid grid-cols-4 gap-0 mt-0">
            <p class="ml-5 text-black text-xl font-bold">Código</p>
            <p class="text-black text-xl font-bold">Quantidade</p>
            <p class="text-black text-xl font-bold">Preço R$</p>
            <p class="text-black text-xl font-bold">Total R$</p>
        </div>

        <div class=" grid grid-cols-4 gap-1 mt-2">
            <div class="ml-4 bg-white h-10 w-56">
                <p class='p-2 text-black'>33745</p>
            </div>
            <div class=" bg-white h-10 w-40">
                <p class='p-2 text-black'>1,000</p>
            </div>
            <div class=" bg-white h-10 w-40 ">
                <p class='p-2 text-black'>4,89</p>
            </div>
            <div class=" bg-white h-10 w-40">
                <p class='p-2 text-black'>4,89</p>
            </div>
        </div>
        <div class="h-2/3 bg-green-500 flex justify-center ">
            <img src="img/amazon-fresh5225.jpg" alt="Descrição da imagem"
                class=" max-h-60 w-auto ml-52 mt-20 mr-auto  " />

        </div>
        <div class="h-1/4 bg-black"></div>
        <div class="absolute bottom-5 pr-5 right-5 w-2/5 h-3/4 bg-white z-10"></div>
    </div>
</body>

</html>