<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Usuário</title>
</head>

<body>
    <h1>Detalhes do Usuário</h1>
    <p>ID: <%= user.id %>
    </p>
    <p>Nome: <%= user.nome %>
    </p>
    <!-- Adicione mais campos conforme necessário -->

    <a href="/">Voltar</a>
</body>

</html>