table{
    border-collapse: collapse; /* CSS2 */
    background: #FFFFF0;
    border: dashed red 1px; /* Precedência tem bug no IE */
}
table td{
    border: 1px solid black;
}
table th{
    border: 1px solid black;
    background: #F0FFF0;
}